<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    

    body{
      background-color: whitesmoke;
    }

    .jumbotron{
      width: auto;
      margin: 10%;
/*      position: fixed;*/
      
    }
    #carouselExampleIndicators{
      max-height: 50%;
      max-width: 100%;
    }
    .fa-fa-Form{
      width: auto;
      margin: 10%;
      padding: 5%;
      background-color: whitesmoke;
      border-radius:10px;
    }

  </style>

  <title>Snehashish</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style = "background: -webkit-linear-gradient(left, #54a0ff, #2ecc71);">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Password Man</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Source Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
    </ul>
      <form class="form-inline">
<!--     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name = "logbutton">{{logmsg}}</button>
  </form>
  </div>

</nav>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    These Days everyone needs Secure and Long Passwords. Now to make your remembering Job easy
    here is service for you to manage your passwords called Password Man

   </p>
  <hr class="my-4">
  <p>Click the button below To start Signup for some secure password management:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup for This</a>
  </p>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>